<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://localhost;database=wholesale</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--    <property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">ZAQ!2wsx</property>

        <!--    <property name="connection.pool_size">1</property>-->
        <!--    <property name="show_sql">false</property>-->

        <mapping resource="main/entity/BeverageEntity.hbm.xml"/>
        <mapping class="main.entity.BeverageEntity"/>
        <mapping resource="main/entity/BeverageNameEntity.hbm.xml"/>
        <mapping class="main.entity.BeverageNameEntity"/>
        <mapping resource="main/entity/BeverageTypeEntity.hbm.xml"/>
        <mapping class="main.entity.BeverageTypeEntity"/>
        <mapping resource="main/entity/CustomerEntity.hbm.xml"/>
        <mapping class="main.entity.CustomerEntity"/>
        <mapping resource="main/entity/EmployeeEntity.hbm.xml"/>
        <mapping class="main.entity.EmployeeEntity"/>
        <mapping resource="main/entity/FlavorEntity.hbm.xml"/>
        <mapping class="main.entity.FlavorEntity"/>
        <mapping resource="main/entity/GasTypeEntity.hbm.xml"/>
        <mapping class="main.entity.GasTypeEntity"/>
        <mapping resource="main/entity/ManufacturerEntity.hbm.xml"/>
        <mapping class="main.entity.ManufacturerEntity"/>
        <mapping resource="main/entity/OorderEntity.hbm.xml"/>
        <mapping class="main.entity.OorderEntity"/>
        <mapping resource="main/entity/OrderDetailsEntity.hbm.xml"/>
        <mapping class="main.entity.OrderDetailsEntity"/>
        <mapping resource="main/entity/PackageEntity.hbm.xml"/>
        <mapping class="main.entity.PackageEntity"/>
        <mapping resource="main/entity/ProviderEntity.hbm.xml"/>
        <mapping class="main.entity.ProviderEntity"/>
        <mapping resource="main/entity/UsersEntity.hbm.xml"/>
        <mapping class="main.entity.UsersEntity"/>
        <mapping resource="main/entity/OrdersViewEntity.hbm.xml"/>
        <mapping class="main.entity.OrdersViewEntity"/>
        <mapping resource="main/entity/OrderDetailsViewEntity.hbm.xml"/>
        <mapping class="main.entity.OrderDetailsViewEntity"/>
        <mapping resource="main/entity/LogonRegistryEntity.hbm.xml"/>
        <mapping class="main.entity.LogonRegistryEntity"/>


        <!-- DB schema will be updated if needed -->

    </session-factory>
</hibernate-configuration>